* {
	margin:0;
	padding:0;
	font-family: tahoma,sans-serif;
	box-sizing: border-box;
}

body {
	background: linear-gradient(#94E2DB,#C0FFB9);
	overflow-y: hidden;
}

.online-window {
	width: 30%;
	min-height: 50%;
	height: auto;
	max-width: 30%;
	max-height: 80%;
	overflow-y: scroll;
	background: rgba(1,1,1,0.6);
	outline-style: solid;
	outline-color: red;
	position: fixed;
	top: 0;
	padding: 5px;
	margin-left: 70%;
	margin-top: 10%;
	color: green;
}

.online-window::after {
	position: inline;
}

/*
.chatbox {
	width: 500px auto;
	min-width: 100%
	height: 800px auto;
	background-image: url(http://www.alexandermanton.com/wp-content/uploads/2016/08/Singapore-Skyline-4.jpg);
	padding: 20px;
	margin: 0 auto;
	box-shadow: 0 3px #CCC;
	color: green;
}
*/
.chatbox {
	width: 500px auto;
	min-width: 390px;
	height: 100%;
	background-image: url(https://static1.squarespace.com/static/52da9677e4b03d314575985a/t/568a5e56dc5cb434c56c18ae/1451908696505/Best+Hotels+in+Singapore+with+a+View.jpg?format=1500w);
	padding: 25px;
	margin: 20px auto;
	box-shadow: 0 3px #CCC;
	color: white;
}

.timestamp {
	font: 5px;
	color: grey;
}

.chatlogs {
	padding: 10px;
	width: 100%;
	height: 450px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
	width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}

.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}

.chat .user-photo {
	width: 60px;
	height: 60px;
	background: #ccc;
	border-radius: 50%;
	overflow: hidden;
}

.chat .user-photo img {
	width: 100%;
}

.chat .chat-message {
	width: 80%;
	padding: 15px;
	margin: 5px 10px 0;
	border-radius: 10px;
	color: #fff;
	font-size: 20px; /*chat font size*/
}

.other .chat-message {
	background: #1adda4;
}

.self .chat-message {
	background: #1ddced;
	order: -1;
}

.chat-form {
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
}

.chat-form textarea {
	background: #fbfbfb;
	width: 75%;
	height: 50px;
	border: 2px solid #eee;
	resize: none;
	padding: 10px;
	font-size: 18px;
	color: #333;
}

.chat-form textarea:focus {
	background: #fff;
}

.chat-form button {
	background: #1ddced;
	padding: 5px 15px;
	font-size: 30px;
	color: #fff;
	border: none;
	margin: 0 10px;
	border-radius: 3px;
	box-shadow: 0 3px 0 #0eb2c1;
	cursor: pointer;

	-webkit-transition: background .2s ease;
	-moz-transition: background .2s ease;
	-o-transition: background .2s ease;
}

.chat-form button:hover {
	background: #13c8d9;
}