<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ShoutOut SG</title>

	<!--The custom-written styles. Please parse the referred file for the styles-->
	<link href="/public/homepage_styles.css" type="text/css" rel="stylesheet"> 

	<!-- Some additional meta tags for Search Engines -->
	<!-- Feel free to add more as needed -->
	<meta name="description" content="Open Event Finder for Singapore">
	<meta name="keywords" content="open,event,finder,Singapore">
	<meta name="author" content="Saif,Paras">
</head>

<body>
	<header>
		<div align="center">
			<h1 class="logo">
				<a href="home.html" style="text-decoration: none; color: black;">
					<span style="font-family: 'Rancho', cursive;">
						ShoutOut 
					</span>
					<span style="font-family: 'Eater', cursive;">
						&nbsp;SG!
					</span>
					<span style="font-family: 'Dancing Script', cursive;font-size: 1rem; position: relative; bottom: 2em"><br/>
						Get invited. Stay connected.
					</span>
				</a>
			</h1>
		</div>

		<input type="checkbox" id="nav-toggle" class="nav-toggle">


		<label for="nav-toggle" class="nav-toggle-label">
			<span></span>
		</label>

	</header>
	<div class="searchEvents">
		<form>
			<input type="search" placeholder="Events...">
			<input type="search" id="pac-input" class="controls" type="text" placeholder="Places..">
		</form> 
	</div>
	<div id="mySidenav" class="sidenav">
		<a href="/activity/new" id="new_activity">Add Activity</a>
		<a href="#" id="about">About</a>
		<a href="#" id="projects">Projects</a>
		<a href="#" id="contact">Contact</a>
	</div>
	<div id="map" class="map"></div>
	
	<!-- The following are tested. These were correctly displayed, so this serves as a sanity-check...
	<p>This is a <span style="font-family: 'Rancho', cursive; color: red">test of what I can do using HTML and CSS.<br></span><span style="font-family: 'Eater',cursive;">Do you see?</span>
	</p>
	<div>
		<br>
		<br>
		<br>
		<span style="background: yellow;">Hello!</span>
		<br>
		<br>
		<br>
	</div> -->

	<script>
		function initMap() {
			var mapOptions = {
				center: new google.maps.LatLng(1.290270, 103.851959),
				zoom: 10,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}

			var map = new google.maps.Map(document.getElementById("map"), mapOptions);

<<<<<<< HEAD
		//adding markers on the map
		var activities = <%- JSON.stringify(activities) %>
		var marker;
		
		activities.forEach(function(activity) {
			marker = new google.maps.Marker({
				position: new google.maps.LatLng(activity.location[0], activity.location[1]),
				map: map, 
				title: activity.activityName,
			});
=======
			//adding markers on the map
			var activities = <%- JSON.stringify(activities) %>
			var marker;

	        // Create the search box and link it to the UI element.
	        var input = document.getElementById('pac-input');
	        var searchBox = new google.maps.places.SearchBox(input);
	        //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

	        // Bias the SearchBox results towards current map's viewport.
	        map.addListener('bounds_changed', function() {
	          searchBox.setBounds(map.getBounds());
	        });

	        var markers = [];
	        // Listen for the event fired when the user selects a prediction and retrieve
	        // more details for that place.
	        searchBox.addListener('places_changed', function() {
	          var places = searchBox.getPlaces();

	          if (places.length == 0) {
	            return;
	          }

	          // Clear out the old markers.
	          markers.forEach(function(marker) {
	            marker.setMap(null);
	          });
	          markers = [];

	          // For each place, get the icon, name and location.
	          var bounds = new google.maps.LatLngBounds();
	          places.forEach(function(place) {
	            if (!place.geometry) {
	              console.log("Returned place contains no geometry");
	              return;
	            }
	            var icon = {
	              url: place.icon,
	              size: new google.maps.Size(71, 71),
	              origin: new google.maps.Point(0, 0),
	              anchor: new google.maps.Point(17, 34),
	              scaledSize: new google.maps.Size(25, 25)
	            };

	            // Create a marker for each place.
	            markers.push(new google.maps.Marker({
	              map: map,
	              icon: icon,
	              title: place.name,
	              position: place.geometry.location
	            }));

	            if (place.geometry.viewport) {
	              // Only geocodes have viewport.
	              bounds.union(place.geometry.viewport);
	            } else {
	              bounds.extend(place.geometry.location);
	            }
	          });
	          map.fitBounds(bounds);
	        });

			//@Paras, what is this? 
			var contentString = '<div id="content">'+
			'<div id="siteNotice">'+
			'</div>'+
			'<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
			'<div id="bodyContent">'+
			'<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
			'sandstone rock formation in the southern part of the '+
			'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
			'south west of the nearest large town, Alice Springs; 450&#160;km '+
			'(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
			'features of the Uluru - Kata Tjuta National Park. Uluru is '+
			'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
			'Aboriginal people of the area. It has many springs, waterholes, '+
			'rock caves and ancient paintings. Uluru is listed as a World '+
			'Heritage Site.</p>'+
			'<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
			'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
			'(last visited June 22, 2009).</p>'+
			'</div>'+
			'</div>';
			var infowindow = new google.maps.InfoWindow(
			{
				content: contentString
			}); 
			
			activities.forEach(function(activity) {
				marker = new google.maps.Marker({
					position: new google.maps.LatLng(activity.location[0], activity.location[1]),
					map: map, 
					title: activity.activityName,
				});
>>>>>>> 05054515173cc5789f38ee7ccb90e2a1530df61f

			var content = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading" style="">'+activity.activityName+'</h1>'+
            '<div id="bodyContent"  style="font-style: italic;">'+
            '<p>Organiser:&nbsp<span style="font-style: normal;">' + activity.organiser + '</span></p>' +
            '<p>Category:&nbsp<span style="font-style: normal;">' + activity.category + '</span></p>' +
            '<p>Timing:&nbsp<span style="font-style: normal;">' + activity.time + '</span></p>' +
            '<p>Location:&nbsp<span style="font-style: normal;">' + activity.location + '</span></p>' + 
            //TO COMPLETE THE HYPERLINK TO CHATPAGE
            '<p>Chatlink:&nbsp<span style="font-style:normal;"><a href="#">Chat here</a></span></p>' + 
            '<p>Update:&nbsp<span style="font-style: normal;"><a href="#">Update here</a></span></p>' +
            '<p>Delete:&nbsp<span style="font-style:normal;"><a href="#">Delete here</a></span></p>' +
            '</div>'+
            '</div>';

			var infowindow = new google.maps.InfoWindow();
			google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
				return function() {
					infowindow.setContent(content);
					infowindow.open(map,marker);
				};
			})(marker,content,infowindow)); 
		}); 
	} 
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpUAQ_vp-UHzUYyTCgsF04IUTjulyRLS0&libraries=places&callback=initMap" async defer></script>

</body>
</html>