<!DOCTYPE html>
<html>
<head>
	<title>Chatpage!</title>
	<link rel="stylesheet" type="text/css" href="/public/chat.css">
	<link rel="stylesheet" type="text/css" href="/public/homepage_styles.css"
</head>
<body>

	<header>
		<h1 class="logo">
			<a href="home.html" style="text-decoration: none; color: black;">
				<span style="font-family: 'Rancho', cursive;">
					ShoutOut 
				</span>
				<span style="font-family: 'Eater', cursive;">
					&nbsp;SG!
				</span>
				<span style="font-family: 'Dancing Script', cursive;font-size: 1rem; position: relative; bottom: 2em"><br/>
					Get invited. Stay connected.
				</span>
			</a>
		</h1>

		<input type="checkbox" id="nav-toggle" class="nav-toggle">

		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Trending</a></li>
				<li><a href="#">Guide</a></li>
			</ul>
		</nav>

		<label for="nav-toggle" class="nav-toggle-label">
			<span></span>
		</label>
	</header>

	<div align="center">
		<p>
			<h2>Activity name</h2>
		</p>
	</div>


	<!-- NOTES TO DO:
		1)Please add img tags within the user photo div..
		2) If possible, try to creatre a hyperlink that leads to the user's account page.
		3) I have created a timestamp div. Mot sure how to add the time from the DB.
	-->

	<div class="chatbox">
		<div class="chatlogs">
			
			<div class="chat other">
				<div class="user-photo"><a href="#"><img src="#"></a></div>
				<p class="chat-message">Hey, this is a test msg from other....</p>
				<div class="timestamp"></div>
			</div>
			
			<div class="chat self">
				<div class="user-photo"><a href="#"><img src="#"></a></div>
				<p class="chat-message">Self-test message...</p>
				<div class="timestamp"></div>
			</div>
			<div class="chat other">
				<div class="user-photo"><a href="#"><img src="#"></a></div>
				<p class="chat-message">Hey, this is a test msg from other....</p>
				<div class="timestamp"></div>
			</div>
			
			<div class="chat self">
				<div class="user-photo"><a href="#"><img src="#"></a></div>
				<p class="chat-message">Self-test message...</p>
				<div class="timestamp"></div>
			</div>
			<div class="chat other">
				<div class="user-photo"><a href="#"><img src="#"></a></div>
				<p class="chat-message">Hey, this is a test msg from other....</p>
				<div class="timestamp"></div>
			</div>
			
			<div class="chat self">
				<div class="user-photo"><a href="#"><img src="#"></a></div>
				<p class="chat-message">Self-test message...</p>
				<div class="timestamp"></div>
			</div>
			<div class="chat other">
				<div class="user-photo"><a href="#"><img src="#"></a></div>
				<p class="chat-message">Hey, this is a test msg from other....</p>
				<div class="timestamp"></div>
			</div>
			
			<div class="chat self">
				<div class="user-photo"><a href="#"><img src="#"></a></div>
				<p class="chat-message">Self-test message...</p>
				<div class="timestamp"></div>
			</div>
			<div class="chat other">
				<div class="user-photo"><a href="#"><img src="#"></a></div>
				<p class="chat-message">Hey, this is a test msg from other....</p>
				<div class="timestamp"></div>
			</div>
			
			<div class="chat self">
				<div class="user-photo"><a href="#"><img src="#"></a></div>
				<p class="chat-message">Self-test message...</p>
				<div class="timestamp"></div>
			</div>
		
		</div>

		<!-- The chat box and button.... -->
		<div class="chat-form">
			<textarea></textarea>
			<button>Send</button>

		</div>

	</body>
	</html>