<!doctype html>
<html>
<head>
  <title>Socket.IO chat</title>
  <link rel="stylesheet" type="text/css" href="../public/chat.css"/>
  <link rel="stylesheet" type="text/css" href="../public/homepage_styles.css">
</head>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
      //cookie stuff...
    function setCookie(cname, cvalue, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      var expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    function checkCookie() {
      var username = getCookie("username");
      if (username != "") {
        alert("Welcome again " + username);
      } else {
        username = prompt("Please enter a chat name:", "Anonymous");
        if (username != "" && username != null) {
          setCookie("username", username, 365);
        }
      }
    }
    checkCookie();

    // So this sets the cookie. Pls send to server.js below:
    
</script>
<script>    
  $(function () {
    //auto-scroll variables...
    var message_box = document.getElementById('chatlogs');
    var scroll_check = document.getElementById('scrollchecker');
    var self_send = false;

    var socket = io();
    
    //1. when the API hits this page, it does so with a var room. 
    //this socket "connect" event emits a "room" event to sever (now see server)
    let room = <%- JSON.stringify(room) %>;
    socket.on('connect', function(){
      socket.emit('room', room); 
    });

    //3 followup: notifications are received and listed
    socket.on('notif', function(msg){
      if (msg.type === "connect")
        $('#notifs').append($('<li>').text(msg.nick + " connected to " + msg.room));
      else if (msg.type === "disconnect") 
        $('#notifs').append($('<li>').text(msg.nick + " disconnected from " + msg.room));
    });

    //3 followup: "online" and "history" events are used to adjust view
    //online packet is sent everytime someone dis/connects
    socket.on('online', function(res){
      $('#online').html("<b>Online</b><br>" + String(res.people));
    }); 
    //chat history is sent
    socket.on('history', function(docs){ 
      docs.history.forEach(function(msg){
        $('#timeStamp').append($('<li>').text("[" + msg.time + "] "));
        $('#messages').append($('<li>').html("<b>" + msg.nick + "</b>" + ": " + msg.text));
      });
    }); 

    //4. Whenever someone hits send, a "chat message" event is send to the server (go to server)
    $('form').submit(function(){
      self_send = true;
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });

    //5. messages are received by "chat message" and displayed
    socket.on('chat message', function(msg) {
      $('#timeStamp').append($('<li>').text("[" + msg.time + "] "));
      $('#messages').append($('<li>').html("<b>" + msg.nick + "</b>" + ": " + msg.text));
      if (scroll_check.checked || self_send) {
        message_box.scrollTop = message_box.scrollHeight;
        self_send = false;
      }
    });
  });
</script>

<body>

  <header>
    <h1 class="logo">
      <a href="home.html" style="text-decoration: none; color: black;">
        <span style="font-family: 'Rancho', cursive;">
          ShoutOut 
        </span>
        <span style="font-family: 'Eater', cursive;">
          &nbsp;SG!
        </span>
        <span style="font-family: 'Dancing Script', cursive;font-size: 1rem; position: relative; bottom: 2em"><br/>
          Get invited. Stay connected.
        </span>
      </a>
    </h1>

    <input type="checkbox" id="nav-toggle" class="nav-toggle">

    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Trending</a></li>
        <li><a href="#">Guide</a></li>
      </ul>
    </nav>

    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>
  <div class="chatbox">
    <div class="chatlogs" id="chatlogs">
      <table align="center" style="background: rgba(1,1,1,0.6);">
        <div class="online-window">
          <p style="font-weight: bold; font-size: 1.2rem; border-bottom: 1px solid green" align="center">Chat Info</p>
          <br>
          <p style="font-weight: bold; font-size: 1rem;" align="left">Notifications</p>
          <ul id="notifs" style="list-style-type: none;"></ul>
          <br>
          <div id="online"></div>
        </div>
        <tr>
          <td><ul id="timeStamp" style="list-style-type: none;"></ul></td>
          <td><ul id="messages" style="list-style-type: none;"></ul></td>
        </tr>
      </table>
    </div>
    <input type="checkbox" checked="checked" value="Auto-scroll" id="scrollchecker"><span style="font-family: 'Tajawal', sans-serif; font-size: 1rem; font-style: italic;">Auto-scroll
      <form action="" style="margin-left:10%; display: inline;">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form>
    </div>

  </body>
  </html>