@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Eater|Rancho|Tajawal');

/*CSS rules for fonts: 
font-family: 'Rancho', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Eater', cursive;
font-family: 'Tajawal', sans-serif;
*/

:root {
	--menuBackground: rgba(0,0,0,0,.1);
};

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 100%;
	width: 100%; 
	overflow-x: hidden;
}

body {
	height: 100%;
	width: 100%;
	margin:0;
	/* To prevent repeating background colour */
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* For gradient background */
	background: linear-gradient(#94E2DB,#C0FFB9);
}

header {
	margin-top:0;
	background: #FED;
	z-index: 999;
	width: 100%;
}

.logo{
	margin:0;
	font-size:2.5rem;
	text-align: center;
}

header nav {
	text-align: center;
	background: var(--menuBackground);
	/*transform: scale(1,0);
	transition: transform 400ms ease-in-out; 
	*/
	display: none;
	width: 100%;
}

nav ul {
	margin:0;
	padding:0;
	list-style: none;
}

nav ul li {
	padding:0;
	margin-bottom: 1em;
	margin-left: 1em;
	width: 100%;
}

nav a {
	color: #707070;
	text-decoration: none;
}

nav ul li:hover {
	color:black;
	background: #CCC;
}

.nav-toggle {
	display: none;
}

.nav-toggle:checked ~ nav {
	display: block;
}

.nav-toggle-label {
	position: fixed;
	top:3em;
	left:1.5em;
	display: flex;
	align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: #707070;
	height:2px;
	width:2em;
	border-radius: 2px;
	position: absolute;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 5px;
}

.nav-toggle-label span::after {
	top: 5px;
}

.button {
	background: radial-gradient(#F5DDBF,#F9B967)
	border-radius:5%;
}

.search-button {
	padding-left: 35%
}

.map {
	z-index: 1;
	width:100%;
	height:75%;
	background:yellow;
}
/* For larger screens */

@media screen and (min-width: 800px) {
	.nav-toggle-label {
		display: none;
	}

	.nav-toggle {
		display: none;
	}

	.nav-toggle:checked ~ nav {
		display: block;
	}

	.nav-toggle:not(:checked) ~ nav {
		display: block;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
	}

	.logo {
		grid-column: 1 / 2;
	}

	nav {
		all: unset;
		grid-column: 3 / 4;
		display: block;
		justify-content: flex-end;
		align-items: center;
		padding-top: 5%;
		font-family: 'Tajawal', sans-serif;
	}

	nav ul {
		display: flex;
		left: 2em;
		top: 1em;
	}

	.map {
		z-index: 1;
		width:100%;
		height:85%;
		background:yellow;
	}
}

.sidenav {
	position: absolute;
	top: 40%;
	left: -80px;
	font-family: 'Tajawal', sans-serif;
	z-index: 999;
}

.searchEvents {
	position: absolute;
	right: 120px;
	top: 200px;
	z-index: 999;
}

.searchPlaces {
	position: absolute;
	right: 10px;
	top: 200px;
	z-index: 999;
}

#mySidenav a {
	position: absolute;
	transition: 0.3s;
	padding: 15px;
	width: 100px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
	left: 80px;
}

#about {
	top: 20px;
	background-color: #4CAF50;
}

#new_activity {
	top: 80px;
	background-color: #2196F3;
}

#projects {
	top: 140px;
	background-color: #f44336;
}

#contact {
	top: 200px;
	background-color: #555
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 65px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
